* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}
body {
   width: 100%;
   height: 100%;
   overflow-x: hidden; 
   overflow-y: auto; 
   font-family: Arial, Helvetica, sans-serif;
   background: linear-gradient(to right, #8f593e, #914f3e);

}
a{
   color: black;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
}
.container {
   display: flex; 
   flex-wrap: wrap; 
   justify-content: center; 
   align-items: flex-start; 
   padding: 0;
   margin: 0;
   width: 100%;
}
.bloco1 {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin: 10px;
   position: relative;
   right:35rem;
   top: 130px;
}
#img {
   width: 90px;
   height: 80px;
   margin: 10px;
   position: absolute;  
   right: 75rem;            
   top: 9%;             
   transform: translateY(-50%);  
}

#links {
   text-decoration: none;
   display: flex;
   flex-direction: column;
   gap: 10px; 
}
a{
   text-decoration: none;
}

#links li {
   list-style: none;
}
.linha-vertical {
   width: 1px;
   height: 100vh; 
   background-color: black;
   margin-left: 20px;
   position: relative;
   top: 0rem;
   right: 28rem;
}
#img-lateral{
   width: 20%;
   height: 100%;  
   margin: auto;
   position: absolute;  
   left: 79.9%; 
   top: 0; 
}
.slider-img-cima{
   width: 60%;
   height: 25%; 
   margin: 2px;
   position: absolute; 
   top: 0;
   left: 17%;
}
.slider-nav {
   width: 60%; 
   overflow: hidden; 
   position: absolute; 
   top: 0; 
    left: 17%; 
    height: 180px; 
    z-index: 1000; 
    background-color: white; 
    margin: 3px;border-radius: 20px;
}
.sliders {
   display: flex; 
   transition: transform 9s ease-in-out; 
}
.slider-img-cima {
   width: 100%; 
   height: 100%; 
   margin: 2px;
   position: absolute; 
   top: 0;
   left: 0;
}
@keyframes slide {
   0% {
       transform: translateX(3);
   }
   33% {
       transform: translateX(-100%);
   }
   66% {
       transform: translateX(-200%);
   }
   100% {
       transform: translateX(0);
   }
}
.sliders {
   animation: slide 11s infinite; 
}
#item1{
   width: 60%;
   height: 15%;
   background-color: rgb(185, 183, 183);
   position: absolute;
   top: 30%;
   left: 17%;
   border: solid rgba(49, 49, 49, 0.116);
   border-radius: 15px;
}
#item2{
   width: 60%;
   height: 15%;
   background-color: rgb(185, 183, 183);
   position: absolute;
   top: 47%;
   left: 17%;
   border: solid rgba(49, 49, 49, 0.116);
   border-radius: 15px;
}
#item3{
   width: 60%;
   height: 15%;
   background-color: rgb(185, 183, 183);
   position: absolute;
   top: 64%;
   left: 17%;
   border: solid rgba(49, 49, 49, 0.116);
   border-radius: 15px;
}
#item4{
   width: 60%;
   height: 15%;
   background-color: rgb(185, 183, 183);
   position: absolute;
   top: 82%;
   left: 17%;
   border: solid rgba(49, 49, 49, 0.116);
   border-radius: 15px;
}
footer{
   background-color: gray;
   margin: 2px;
   padding: 2px;
   height: 80px;
   text-align: center;
}
@media(max-width: 768px){
#links {
   text-decoration: none;
   display: flex;
   flex-direction: column;
   gap: 10px;
   left: -42vw;
   top: 80px;
   margin: 3px;
}
a{
   color: black;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 16px;
}
#img{
   width: 90px;
   height: 80px;
   margin: 5px;
   position: absolute;   
   left: -2vw;             
   top: 6%;             
   transform: translateY(-50%);  
}
#img-cima{
   width: 55%;
   height:25%;
   left: 22%;
   margin: 3px;
   
   }
   .slider-nav {
      width: 50%; 
      overflow: hidden; 
      position: absolute; 
      top: 0; 
       left: 27%; 
       height: 180px; 
       z-index: 1000; 
       background-color: white; 
       margin: 3px;
       border-radius:10px;
   }
   #item1{
      width: 55%;
      height: 15%;
      background-color: gray;
      position: absolute;
      top: 28%;
      left: 21%;
      padding: 10px 10px;
      border: solid rgba(49, 49, 49, 0.116);
      border-radius: 15px;
   }
   #item2{
      width: 55%;
      height: 15%;
      background-color: gray;
      position: absolute;
      top: 45%;
      left: 21%;
      padding: 10px 10px;
      border: solid rgba(49, 49, 49, 0.116);
      border-radius: 15px;
   }
   #item3{
      width: 55%;
      height: 18.5%;
      background-color: gray;
      position: absolute;
      top: 62%;
      left: 21%;
      padding: 5px 10px;
      border: solid rgba(49, 49, 49, 0.116);
      border-radius: 15px;
   }
   #item4{
      width: 55%;
      height: 17%;
      background-color: gray;
      position: absolute;
      top: 82%;
      left: 21%;
      padding: 10px 10px;
      border: solid rgba(49, 49, 49, 0.116);
      border-radius: 15px;
   }
   .itens{
      height: 90px;
   }
   footer {
      height: 6%; 
      padding: 10px;
      margin: 0px;
      box-sizing: border-box;
  }
   
}

@media (min-width: 769px) and (max-width: 1024px){
   #links {
      text-decoration: none;
      display: flex;
      flex-direction: column;
      gap: 10px; 
      left: -42vw;
      top: 99px;
   }
   #img{
      width: 90px;
      height: 80px;
      margin: 5px;
      position: absolute;   
      left: 1%;            
      top: 5%;             
      transform: translateY(-50%);  
   }

   
   

}


