* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    background: linear-gradient(to right, #8f593e, #914f3e);

}

header.sobre {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
}

header.sobre h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

main {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    flex: 1; 
}

main p {
    font-size: 1.1rem;
    margin-bottom: 15px;
    line-height: 1.8;
}

footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.9rem;
}

a {
    color: #2c3e50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    header.sobre h1 {
        font-size: 2rem;
    }

    main {
        padding: 15px;
    }

    footer {
        font-size: 0.8rem;
    }
}
